body{
	margin: 0px;
	background-color: #1a1818;
	font-family: 'Gotham', sans-serif;
	overflow-x: hidden;
}
.nav-bar{
	height: 100px;
	width: 100%;
	background-color: #050404;
	position: fixed;
}
#logo{
	float: left;
	height: 70px;
	margin-top: 15px;
	margin-left: 100px;
}
#logo:hover{
	cursor: pointer;
}
.nav-bar-buttons{
	float: left;
	margin-top: 35px;
	margin-left: 100px;

}
.nav-bar-buttons a{
	float: left;
	color: white;
	font-size: 18px;
	text-decoration: none;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.nav-bar-buttons a:hover{
	cursor: pointer;
	background-color: #2a2424;
}
.search-bar{
	float: left;
	margin-left: 550px;
}
.search-bar img{
	position: absolute;
	height: 20px;
	margin-top: 8px;
	margin-left: 5px;
}
.search-bar input{
	padding-left: 30px;
	height: 35px;
	width: 100%;
	background-color: #1a1818;
	color: white;
	border: none;
	font-size: 18px;
}

/************ End of Header *************/
.preview-trailer-container{
	float: left;
	margin-top: 200px;
	margin-left: 620px;
	height: 300px;
	width: 650px;
}
.preview-trailer-container p{
	text-align: center;
	font-size: 30px;
	margin: 0px;
	color: white;
	margin-bottom: 10px;
}
.live1-container{
	float: left;
	height: 200px;
	width: 300px;
	background-color: black;
	margin-right: 50px;
}
.live2-container{
	float: left;
	height: 200px;
	width: 300px;
	background-color: black;
}
.all-video-container{
	float: left;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;

}
.watch-next{
	height: 190px;
	width: 100%;
	float: left;
	margin-top: 20px;
}
.watch-next p{
	color: white;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 0px;
}
.watch-next img{
	height: 130px;
	margin-top: 10px;
	margin-right: 8px;
}

.recommended-movies{
	height: 190px;
	width: 100%;
	float: left;
	margin-top: 20px;
}
.recommended-movies p{
	color: white;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 2px;
}
.recommended-movies img{
	height: 130px;
	margin-top: 10px;
	margin-right: 8px;
}

/****************** RESPONSIVE *********************/
@media only screen and (max-width: 1440px){

	/* Laptop */
	
	.search-bar{
		width: 33%;
		margin-left: 80%;
		margin-right: -20%;
		margin-top: -4.5%;
		margin-bottom: 20px;
	}

	.preview-trailer-container p{
		margin-left: -60%;
	}	

	.live1-container{
		margin-left: -30%;
	}

	.all-video-container{
		float: left;
		margin-top: 10px;
		margin-left: 80px;
	
	}

	.watch-next p{
		font-size: 30px;
		margin-top: -3%;
	}

	.watch-next img{
		height: 60%;
		width: 15%;
		margin-top: 30px;
		margin-right: 8px;
	}

	.recommended-movies{
		margin-top: 45%;
	}  

	.recommended-movies p{
		font-size: 30px;
		margin-top: -35%;
		margin-bottom: 15px;
	}

	.recommended-movies img{
		height: 60%;
		width: 15%;
		margin-top: 10px;
		margin-right: 8px;
	}
}

@media only screen and (max-width: 768px) {
	
	/* Tablet */
	.search-bar input{
		height: 35px;
		width: 50%;
	}
	.preview-trailer-container p{
		margin-left: -91%;
	}	
	.live1-container{
		height: 100%;
		width: 60%;
		margin-left: -60%;
	}
	.live2-container{
		height: 100%;
		width: 60%;
	}
	.all-video-container{
		margin-top: 15%;
	}
	.watch-next img{
		height: 90%;
		width: 19%;
		margin-top: -30px;
		margin-right: 8px;
	}
	.watch-next p{
		margin-bottom: 10%;
	}
}



